################################################################################
# ignore generated documentation
################################################################################
*GENERATED*

################################################################################
# Ignore IDE files
################################################################################
*.DS_Store
.idea

################################################################################
# Ignore Build files
################################################################################
/Build/node_modules
