{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:if condition="{config}">
    <f:render partial="QuickeditHeader" />

    <div class="quickedit__container {f:if(condition: isVisible, then: 'collapse show', else: 'collapse')}" id="quick-edit" data-page="{pageId}">
        <div class="quickedit__container-inner">
            <f:for each="{config}" as="editConfig">
                <div class="quickedit__group">
                    <div class="quickedit__label">{editConfig.label}</div>

                    <be:link.editRecord table="pages" uid="{pageId}" fields="{editConfig.fields}" class="quickedit__edit-button btn btn-default">
                        <core:icon identifier="actions-open" size="default" />
                    </be:link.editRecord>

                    <f:if condition="{editConfig.previewFields}">
                        <div class="quickedit__field-value"
                             title=""
                             data-bs-html="true"
                             data-bs-placement="bottom"
                             data-bs-trigger="hover"
                             data-bs-toggle="popover"
                             data-bs-content="{f:render(partial:'FieldValues', arguments:{editConfig:editConfig})}"
                             data-bs-custom-class="quickedit-popover"
                        >
                            <f:translate key="LLL:EXT:quickedit/Resources/Private/Language/Backend.xlf:currentValues" />
                        </div>
                    </f:if>
                </div>
            </f:for>
        </div>
    </div>

    <f:render partial="QuickeditToggle" arguments="{_all}"/>
</f:if>
